<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/base.css">
</head>

<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="https://www.instagram.com/steelbullsfrc/">
                <img src="/frc-9460/assets/image/bullslogo-removebg.png" class="borda" alt="Bootstrap" width="200"
                    height="200">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </a>
            <a class="link" aria-current="page" href="home.html">Home </a>
            <a class="link" aria-current="page" href="mascote.html">Mascote</a>
            <a class="link" aria-current="page" href="equipe.html">Equipe</a>
        </div>
        </div>
    </nav>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/frc-9460/assets/image/bullslogo-removebg.png" class="d-block w-100" alt="img1">
            </div>
            <div class="carousel-item">
                <img src="/frc-9460/assets/image/bullslogo-removebg.png" class="d-block w-100" alt="img2">
            </div>
            <div class="carousel-item">
                <img src="/frc-9460/assets/image/bullslogo-removebg.png" class="d-block w-100" alt="img3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <a>A FIRST Robotics Competition (FRC) é conhecida como a olimpíada da robótica. A competição internacional da
            organização sem fins lucrativos FIRST (For Inspiration and Recognition of Science and Technology) combina a
            adrenalina dos esportes com o rigor da ciência e da tecnologia. Alunos do ensino médio formam equipes
            compostas por, pelo menos 10 estudantes, que, com apoio de técnicos e mentores, constroem um robô para
            enfrentar o desafio da temporada na arena.</a>
</body>

</html>